@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

*,*::before, *::after {
  box-sizing: border-box;
}

body{
  margin: 0;
  background-image: linear-gradient(to right, #014421e0, #228b22c5), url(./assets/images/eric-muhr-forest.jpg);
  background-size: cover;
  background-position: top;
  color: white;
  font-family: 'Concert One';
  text-shadow: .5px .5px #0c0c0c;

}

.NavButton{
  background-color: hsl(27, 82%, 51%);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.SignUpButton {
  margin-right: 20px;
}

.container{
  display: grid;
  grid-template-columns: 40vw 1fr;
  grid-template-rows: 20vh 12vh 1fr;
  grid-template-areas:
    "title title"
    "filter filter"
    "hikes info";
}

.filterBar{
  grid-area: filter;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: right;
  
}

.titleBar{
  grid-area: title;
  height: 25vh;
  background-color: hsl(46, 38%, 36%);
  /*border-bottom: 1px solid hsl(46, 38%, 15%);*/

  box-shadow: 10px 10px 17px 0px #000000;
}

.primary-header {
  color: #fff;
  font-family: BelweBold;
}

.primary-header-main {
  display: block;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: -2px;
  display: flex;
  justify-content: center;
}

.primary-header-sub {
  display: block;
  font-size:20px;
  font-weight: 400;
  letter-spacing: 3px;
  text-align: center;
}

.options-box {
  flex-direction: row;
  display: flex;
  justify-content: center;
}

.HikeList{
  grid-area: hikes;
}

.InfoList{
  grid-area: info;
}

.HikeItem{
  border-radius: 25px;
  border: 1px outset black;
  background-color: white;
  color: black;
  text-shadow: .5px .5px white;
  text-align: left;
  padding: 20px;
  width: 35vw;
  margin: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

.HikeItem:hover, .HikeItem:focus{
  background-color: grey;
}

.InfoPanel.seen{
  border-radius: 25px;
  border: 1px outset black;
  background-color: white;
  text-align: left;
  padding: 20px;
  width: 50vw;
  margin: auto;
}

.InfoPanel{
  display: none;
}

.InfoBlurb{
  max-width: 40vw;
}

/*%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin: 2.5px;
  margin-right: 7.5px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/*%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/

.Collapsible {
  background-color: white;
  max-width: 40vw;
  cursor: pointer;
  }

.Collapsible__contentInner {
  padding: 10px;
  cursor: text;
  border: 1px solid #ebebeb;
  border-top: 0; }
  .Collapsible__contentInner p {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 20px; }
    .Collapsible__contentInner p:last-child {
      margin-bottom: 0; }

.Collapsible__trigger {
  display: block;
  font-weight: 400;
  text-decoration: none;
  color: #333333;
  position: relative;
  border: 1px solid white;
  padding: 10px;
  background: hsl(27, 82%, 51%); /*Color of Gear*/
  color: white; }
  .Collapsible__trigger:after {
    font-family: 'FontAwesome';
    content: '\f107';
    position: absolute;
    right: 10px;
    top: 10px;
    display: block;
    transition: transform 300ms; }
  .Collapsible__trigger.is-open:after {
    transform: rotateZ(180deg); }
  .Collapsible__trigger.is-disabled {
    opacity: 0.5;
    background-color: grey; }

.CustomTriggerCSS {
  background-color: lightcoral;
  transition: background-color 200ms ease; }

.CustomTriggerCSS--open {
  background-color: darkslateblue; }

.Collapsible__custom-sibling {
  padding: 5px;
  font-size: 12px;
  background-color: #CBB700;
  color: black; }

.hover {
    background-color: white;
    border-style: solid;
    border-color: hsl(27, 82%, 51%);
}
